version: "3.9"
services:
  mariadb:
    image: mariadb:10.8
    restart: always
    volumes:
      - mariadb_volume:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=/run/secrets/MARIADB_ROOT_PASSWORD
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    ports:
      - "3306:3306"

  postgres:
    image: postgres:14.4-alpine
    restart: always
    environment:
      - POSTGRES_PASSWORD=/run/secrets/POSTGRES_PASSWORD
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    # ports:
    #   - "5432:5432"

  mongo:
    image: mongo:4-focal
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=/run/secrets/MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=/run/secrets/MONGO_INITDB_ROOT_PASSWORD
    volumes:
      - mongo_volume:/data/db
      - mongo_volume:/data/configdb
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    # ports:
    #   - "8081:8081"

  redis:
    image: redis:7-alpine
    restart: always
    volumes: 
      - redis_volume:/data
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    # ports:
    #   - "6379:6379"

  elasticsearch:
    image: elasticsearch:8.3.2
    environment:
      - "xpack.security.enabled=false"
      - "discovery.type=single-node"
    restart: always
    ports:
      - "9200:9200"
    #   - "9300:9300"
    volumes:
      - elasticsearch_volume:/usr/share/elasticsearch/data

  kibana:
    image: kibana:8.3.2
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  ghost:
    image: ghost:5-alpine
    restart: always
    ports:
      - "2368:2368"
    volumes:
      - ghost_volume:/var/lib/ghost/content
    # deploy:
    #     mode: replicated
    #     replicas: 1
    #     endpoint_mode: vip

  flask:
    image: flask
    build: ./apps/flask/
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    restart: always
    depends_on:
      - mariadb
    # ports:
    #   - "5001:5001"

  fastapi:
    image: fastapi
    build: ./apps/fastapi/
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    restart: always
    depends_on:
      - mariadb
    # ports:
    #   - "8001:8001"

  django:
    image: django:latest
    build: ./apps/django/
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    restart: always
    secrets:
      - my-secret
    depends_on:
      - mariadb
    # ports:
    #   - "8000:8000"

  express:
    image: express
    build: ./apps/express/
    restart: always
    secrets:
      - my-secret
    depends_on:
      - mariadb
    # ports:
    #   - "3001:3001"

  nginx:
    image: nginx
    build: ./apps/nginx/
    restart: always
    secrets:
      - my-secret
    deploy:
        mode: replicated
        replicas: 1
        endpoint_mode: vip
    depends_on:
      - flask
      - fastapi
      - mariadb
    # ports:
    #   - "81:81"

  loadbalancer:
    image: loadbalancer
    build: ./apps/loadbalancer/
    ports:
      - "80:80"
    secrets:
      - my-secret
    restart: always
    depends_on:
      - flask
      - fastapi
      - nginx
      - mariadb

volumes:
  mariadb_volume:
    external: true
  mysql_volume:
    external: true
  postgres_volume:
    external: true
  mongo_volume:
    external: true
  redis_volume:
    external: true
  rabbitmq_volume:
    external: true
  elasticsearch_volume:
    external: true
  ghost_volume:
    external: true

secrets:
  my-secret:
    file: ./secrets.txt
  
networks:
  default:
    name: net1
    external: true